<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Contacts <%= Time.now %></h1>

  <h2><%= link_to 'index', contacts_path%></h2>

  <div class="container" id="pjax-container">
    <%= yield %>
  </div>

</body>
</html>
